/* Legend styles */
.legend {
  line-height: 18px;
  color: #555;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend-title {
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.legendIcon {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

/* Remove Leaflet default outline on click */
path.leaflet-interactive:focus {
  outline: none;
}
